<div class="dme-skeleton" [ngClass]="'dme-skeleton--' + type">
  <ng-container *ngIf="type === 'table'">
    <div class="skeleton-table-wrap">
      <div class="skeleton-table-header" [style.gridTemplateColumns]="gridColumns">
        <span *ngFor="let _ of colIndexes" class="skeleton-block skeleton-th"></span>
      </div>
      <div
        *ngFor="let _ of rowIndexes"
        class="skeleton-table-row"
        [style.gridTemplateColumns]="gridColumns">
        <span *ngFor="let __ of colIndexes" class="skeleton-block skeleton-td"></span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'form'">
    <div class="skeleton-lines">
      <span *ngFor="let _ of rowIndexes" class="skeleton-block skeleton-line"></span>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'lines'">
    <div class="skeleton-lines">
      <span class="skeleton-block skeleton-line short"></span>
      <span *ngFor="let _ of rowIndexes" class="skeleton-block skeleton-line"></span>
    </div>
  </ng-container>
</div>
