<section class="container-fluid">
    <div class="card">
        <div class="card p-4 mb-4 shadow-smm text-center bg-light border-0 rounded-3">
            <!-- Main Heading Centered -->
            <h2 class="fw-bold text-primary mb-2">Cheque Wise Payment Report</h2>

            <!-- Optional small subtitle for clarity -->
            <p class="text-muted mb-0 fs-6">
                Cheque-wise payment summary for quick monitoring and tracking
            </p>
        </div>
        <div class="card shadow-lgg p-2 border-0 bg-white rounded ">
            <div class="card-body border-0 rounded px-0 pt-2 pb-3 bg-lighty"
                style="height: auto; overflow: hidden; position: relative;">
                <div class="mb-0 Fon-family" style="text-align: justify;">
                    <form class="p-2">
                        <div class="card shadow-sm p-3 mt-2">

                            <div class="row text-center align-items-start">

                                <!-- PO TYPES -->
                                <div class="col-md-4 border-end">

                                    <h6 class="fw-bold text-primary mb-3">
                                        <i class="bi bi-folder me-1"></i>From Cheque Date
                                    </h6>

                                    <div class="d-flex justify-content-center flex-wrap">

                                        <input type="date" class="form-control" placeholder="input From date"
                                            name="From date" [(ngModel)]="Fromdt" />

                                    </div>


                                </div>
                                <div class="col-md-4 border-end">

                                    <h6 class="fw-bold text-primary mb-3">
                                        <i class="bi bi-folder me-1"></i>To Cheque Date
                                    </h6>

                                    <div class="d-flex justify-content-center flex-wrap">
                                        <input type="date" class="form-control" placeholder="input To date"
                                            name="To date" [(ngModel)]="Todt" />


                                    </div>


                                </div>


                                <!-- PAYMENT TYPES -->
                                <div class="col-md-4 border-end">

                                    <h6 class="fw-bold text-success mb-3">
                                        <i class="bi bi-cash-coin me-1"></i> Po Types
                                    </h6>

                                    <div class="d-flex justify-content-center flex-wrap">

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="poType" value="All"
                                                [(ngModel)]="poType">
                                            <label class="form-check-label">All PO</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="poType" value="NP"
                                                [(ngModel)]="poType" (change)="onCategoryChange()">
                                            <label class="form-check-label">Normal Po</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="poType" value="CP"
                                                [(ngModel)]="poType" (change)="onCategoryChange()">
                                            <label class="form-check-label">Covid Po</label>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <button type="submit" class="btn btn-primary" (click)="GetTenderSupplierData()">
                                        Show Details
                                    </button>
                                </div>
                                <!-- [disabled]="fileForm.invalid" -->
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- data table -->
        <div class="card shadow-lgg p-2 mt-0 pt-0 border-0 bg-white rounded ">
            <div class="card-body border-0 rounded px-0 pt-2 pb-3 bg-lightt"
                style="height: auto; overflow: hidden; position: relative;">

                <div class="container-fluid p-3 m-0">
                    <div class="row justify-content-center g-4 ">

                        <div class="col-lg-12 mb-2">
                            <div class=" card row shadow ">
                                <div class="d-flex justify-content-between align-items-center m-2">
                                    <div class="filter-field flex-grow-1">
                                        <input type="text" class="form-control" placeholder="Search"
                                            (keyup)="applyTextFilter($event)">
                                    </div>


                                    <div class="export-menu-container m-2">

                                        <button type="button" class="btn border rounded btn-outline-secondary"
                                            mat-button [matMenuTriggerFor]="exportMenu">Export</button>
                                        <mat-menu #exportMenu="matMenu">
                                            <button mat-menu-item
                                                (click)="exporter.exportTable('xlsx', { fileName: 'PODetails', sheet: 'PODetails', Props: { Author: 'cgmsc' }})">Excel</button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped border rounded " mat-table
                                        matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort
                                        #sort="matSort">

                                        <ng-container matColumnDef="sno">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.sno}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier
                                                tender</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.Name}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="CountNOs">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>NO of PO</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.CountNOs}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ChequeAmt">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Cheque Amount</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.ChequeAmt}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="GrossAmt">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Gross Amount </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.GrossAmt}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="AdminC">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin Charges</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.AdminC}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="TotalCheque">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cheque Amount</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.TotalCheque}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="AidNo">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cheque NO
                                            </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.AidNo}} </td>

                                        </ng-container>
                                        <ng-container matColumnDef="BudgetName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget
                                            </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.BudgetName}}
                                            </td>

                                        </ng-container>
                                        <ng-container matColumnDef="ChequeDT">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cheque Date
                                            </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.ChequeDT}} </td>

                                        </ng-container>

                                        <ng-container matColumnDef="PaidOn">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Letter Date</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.PaidOn}} </td>

                                        </ng-container>
                                      
                                        <ng-container matColumnDef="Showbankletter">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Show bank Letter</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.Showbankletter}} </td>

                                        </ng-container>


                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                <span class="d-flex  flex-row-reverse p-2 ">
                                                    <button
                                                        class="btn btn-sm text-light align-items-center border rounded btn-outline-info-subtle  bg-info-subtle"
                                                        mat-button (click)="onButtonClick(element.SupplierId)">
                                                        <i class="bi bi-arrow-down text-primary"></i>
                                                    </button>
                                                </span>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator #paginator [pageSizeOptions]="[5,10, 15, 30]"
                                        showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>