<section class="container-fluidd">
    <div class="card">
        <div class="card p-4 mb-4 shadow-smm text-center bg-light border-0 rounded-3">
            <!-- Main Heading Centered -->
            <h2 class="fw-bold text-primary mb-2">Year Wise PO Abstract for Directorate</h2>

            <!-- Optional small subtitle for clarity -->
            <p class="text-muted mb-0 fs-6">
                 Year-wise summary of purchase orders across directorates for quick insights and tracking
            </p>
        </div>
        <!-- data table -->
        <div class="card shadow-lgg p-2 mt-0 pt-0 border-0 bg-white rounded ">
            <div class="card-body border-0 rounded px-0 pt-2 pb-3 bg-lightt"
                style="height: auto; overflow: hidden; position: relative;">
                <div class="col-md-12">

                    <h6 class="fw-bold text-success mb-3">
                        <i class="bi bi-cash-coin me-1"></i>Select Financial Year
                    </h6>

                    <div class="d-flex justify-content-center flex-wrap">
                     <ng-select [items]="yearlist" bindLabel="year" bindValue="financial_year_id" class="form-control"
                      appendTo="body" [(ngModel)]="selecteditem" name="selecteditem" placeholder="Select year"
                      (change)="onSelectedyearlist($event)">
                    </ng-select>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary" (click)="GetFinanceRep()">
                            Show Details
                        </button>
                    </div>
                </div>
                <div class="container-fluid p-3 m-0">
                    <div class="row justify-content-center g-4 ">

                        <div class="col-lg-12 mb-2">
                            <div class=" card row shadow ">
                                <div class="d-flex justify-content-between align-items-center m-2">
                                    <div class="filter-field flex-grow-1">
                                        <input type="text" class="form-control" placeholder="Search"
                                            (keyup)="applyTextFilter($event)">
                                    </div>


                                    <div class="export-menu-container m-2">

                                        <button type="button" class="btn border rounded btn-outline-secondary"
                                            mat-button [matMenuTriggerFor]="exportMenu">Export</button>
                                        <mat-menu #exportMenu="matMenu">
                                            <button mat-menu-item
                                                (click)="exporter.exportTable('xlsx', { fileName: 'PODetails', sheet: 'PODetails', Props: { Author: 'cgmsc' }})">Excel</button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped border rounded " mat-table
                                        matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort
                                        #sort="matSort">

                                        <ng-container matColumnDef="sno">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.sno}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="FacilityAutName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Directorate</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.FacilityAutName}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="NosItem">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Item</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.NosItem}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="NosPO">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No of PO</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                              
                                             <span class="d-flex  flex-row-center p-2 ">
                                                    <a type="link" class="download-link text-info text-center" (click)="GetitemFulldetail(element.FacilityAutId,element.POtype,element.FacilityAutName)"> {{element.NosPO}} 
                                                    </a>
                                                </span></td>
                                        </ng-container>
                                        <ng-container matColumnDef="POtype">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Type</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.POtype}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="TotalPOValueCr">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Value (in Cr)</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{element.TotalPOValueCr}} </td>
                                        </ng-container>

                                      

<!-- 
                                        <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Download IDetails</th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <span class="d-flex  flex-row-reverse p-2 ">
                          <button
                            class="btn btn-sm text-light align-items-center border rounded btn-outline-info-subtle  bg-info-subtle"
                            mat-button (click)="onButtonClick(element.PoId)">
                            <i class="bi bi-arrow-down text-primary"></i>
                          </button>
                        </span>
                      </td>
                    </ng-container> -->

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator #paginator [pageSizeOptions]="[5,10, 15, 30]"
                                        showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>