<mat-drawer-container class="main-container" >
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner>
  <mat-drawer #drawer mode="over">

    <mat-nav-list>

      <ng-container *ngFor="let item of menuItems">
        <mat-list-item>
  <button mat-button class="menu-btn"
          (click)="item.submenu ? toggleSubmenu(item.label) : drawer.close()"
          [routerLink]="!item.submenu ? item.route : null"
          routerLinkActive="active-menu"
          [ngClass]="{'active-menu1': isMenuActive(item)}">

    <span class="menu-item-layout">
      
      <mat-icon class="left-icon">format_list_bulleted</mat-icon>
      
      <span class="menu-label">{{ item.label }}</span>

      <mat-icon *ngIf="item.submenu" class="right-arrow">
        {{ expandedMenus[item.label] ? 'expand_more' : 'chevron_right' }}
      </mat-icon>

    </span>
    </button>
</mat-list-item>
<!-- <mat-list-item>
  <button mat-button class="menu-btn"
        (click)="item.submenu ? toggleSubmenu(item.label) : drawer.close()"
        [routerLink]="!item.submenu ? item.route : null"
        routerLinkActive="active-menu"
        [ngClass]="{'active-menu1': isMenuActive(item)}">
  <mat-icon class="left-icon">format_list_bulleted</mat-icon>
  
  <span class="menu-label" style="font-size: 17px;">
    {{ item.label }}
  </span> <mat-icon *ngIf="item.submenu" class="right-arrow">
    {{ expandedMenus[item.label] ? 'expand_more' : 'chevron_right' }}
  </mat-icon>
  <span class="menu-label" style="font-size: 17px;">
    {{ item.label }}

    <mat-icon *ngIf="item.submenu" class="right-arrow">
      {{ expandedMenus[item.label] ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
  </span>

</button>
  </mat-list-item> -->
        <div class="submenu" [class.open]="expandedMenus[item.label]">

          <mat-list-item *ngFor="let sub of item.submenu">
            <button mat-button
                    [routerLink]="sub.route"
                    routerLinkActive="active-menu"
                    (click)="drawer.close()">

              <mat-icon>chevron_right</mat-icon>
              {{ sub.label }}

            </button>
          </mat-list-item>

        </div>

      </ng-container>

      <mat-list-item>
        <button mat-button (click)="logout()"  (click)="drawer.close()" style="font-size: 17px;">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-list-item>

    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>

    <mat-toolbar color="primary" *ngIf="!isLoginPage">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="title">EMIS</span>

      <span class="spacer"></span>
 <span class="welcome-text">Welcome: 
      <img 
        src="https://ui-avatars.com/api/?name={{firstname}}&background=4d82e3&color=fff&rounded=true" 
        alt="User Avatar" 
        class="shadow-sm rounded-circle " 
        width="35" 
        height="35"
      >
    </span>
      <button mat-button (click)="goBack()">Back</button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
      <div class="pt-4">
   <footer class="bg-primaryy text-white text-center fixed-bottom" style="background-color: rgb(56, 52, 52); padding: 14px;">
     <div class="container p-2">
       <p class="mb-0">&copy; 2025 Designed and Developed by IT-Cell CGMSCL | All Rights Reserved.</p>
     </div>
   </footer>
 </div>
    </div>

  </mat-drawer-content>

</mat-drawer-container>